@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);



body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #c0a375 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #c0a375 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #c0a375;
}
.btn-social:hover {
  background: #c0a375;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #c0a375;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #c0a375;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c0a375;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c0a375;
}
.lead a,
.lead a:hover {
  color: #c0a375;
}
.lead blockquote {
  border-color: #c0a375;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #c0a375;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-size: 19px;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
}
#menu-0 .link {
  font-size: 0.85rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #000000;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#header3-1 .mbr-section-title,
#header3-1 .mbr-section-subtitle {
  text-align: center;
}
#header3-1 H3 {
  color: #ffffff;
  font-size: 36px;
}
#content6-2 H2 {
  text-align: center;
  font-size: 30px;
}
#msg-box8-8 .mbr-section-title,
#msg-box8-8 p {
  color: #fff;
}
#msg-box8-8 .mbr-section-title {
  font-size: 36px;
  color: #fac51c;
}
#content1-6 H3 {
  color: #b8312f;
  text-align: left;
}
#buttons1-7 .btn {
  font-size: 14px;
}
#menu-c .hide-buttons .nav-btn {
  display: none !important;
}
#menu-c .navbar-caption {
  color: #ffffff;
  font-size: 19px;
}
#menu-c .navbar-toggler {
  color: #ffffff;
}
#menu-c .link,
#menu-c .dropdown-item {
  color: #ffffff;
}
#menu-c .link {
  font-size: 0.85rem;
}
#menu-c .dropdown-item,
#menu-c .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-c .link:hover,
#menu-c .dropdown-item:hover,
#menu-c .link:focus,
#menu-c .dropdown-item:focus {
  color: #c0a375;
}
#menu-c .link[aria-expanded="true"],
#menu-c .dropdown-menu {
  background: #000000;
}
#menu-c .nav-dropdown-sm .link:focus,
#menu-c .nav-dropdown-sm .link:hover,
#menu-c .nav-dropdown-sm .dropdown-item:focus,
#menu-c .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-c .navbar,
#menu-c .nav-dropdown-sm,
#menu-c .nav-dropdown-sm .link[aria-expanded="true"],
#menu-c .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-c .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-c .bg-color.transparent.opened .link:hover,
#menu-c .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-c .link[aria-expanded="true"],
#menu-c .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-c .close-icon::before,
#menu-c .close-icon::after {
  background-color: #ffffff;
}
#features1-f .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #000000;
}
#features1-f .mbr-cards-col:nth-child(odd) .card-subtitle {
  color: #979797;
}
#features1-g .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #ffffff;
}
#features1-g .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #ffffff;
}
#features1-g .mbr-cards-col:nth-child(odd) .card-text {
  color: #000000;
}
#features1-g .mbr-cards-col:nth-child(odd) .card-title {
  color: #000000;
}
#features1-g .mbr-cards-col:nth-child(even) .card-text {
  color: #ffffff;
}
#features1-g .mbr-cards-col:nth-child(even) .card-subtitle {
  color: #c1c1c1;
}
#features1-g .mbr-cards-col:nth-child(even) .card-title {
  color: #ffffff;
}
#buttons1-p .btn {
  font-size: 20px;
}
#menu-j .hide-buttons .nav-btn {
  display: none !important;
}
#menu-j .navbar-caption {
  color: #ffffff;
  font-size: 19px;
}
#menu-j .navbar-toggler {
  color: #ffffff;
}
#menu-j .link,
#menu-j .dropdown-item {
  color: #ffffff;
}
#menu-j .link {
  font-size: 0.85rem;
}
#menu-j .dropdown-item,
#menu-j .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-j .link:hover,
#menu-j .dropdown-item:hover,
#menu-j .link:focus,
#menu-j .dropdown-item:focus {
  color: #c0a375;
}
#menu-j .link[aria-expanded="true"],
#menu-j .dropdown-menu {
  background: #000000;
}
#menu-j .nav-dropdown-sm .link:focus,
#menu-j .nav-dropdown-sm .link:hover,
#menu-j .nav-dropdown-sm .dropdown-item:focus,
#menu-j .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-j .navbar,
#menu-j .nav-dropdown-sm,
#menu-j .nav-dropdown-sm .link[aria-expanded="true"],
#menu-j .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-j .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-j .bg-color.transparent.opened .link:hover,
#menu-j .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-j .link[aria-expanded="true"],
#menu-j .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-j .close-icon::before,
#menu-j .close-icon::after {
  background-color: #ffffff;
}
#features1-m .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #000000;
}
#features1-n .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #000000;
}
#features1-n .mbr-cards-col:nth-child(odd) .card-text {
  color: #ffffff;
}
#buttons1-o .btn {
  font-size: 20px;
}
#content5-1k .mbr-section-title,
#content5-1k p {
  color: #fff;
}
#features4-11 .card-subtitle {
  color: #bcbcbc;
}
#features4-11 .iconbox {
  background-color: #ffffff;
  border-color: #ffffff;
}
#header3-1i .mbr-section-title,
#header3-1i .mbr-section-subtitle {
  text-align: center;
}
#header3-1i H3 {
  color: #fac51c;
}
#menu-r .hide-buttons .nav-btn {
  display: none !important;
}
#menu-r .navbar-caption {
  color: #ffffff;
  font-size: 19px;
}
#menu-r .navbar-toggler {
  color: #ffffff;
}
#menu-r .link,
#menu-r .dropdown-item {
  color: #ffffff;
}
#menu-r .link {
  font-size: 0.85rem;
}
#menu-r .dropdown-item,
#menu-r .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-r .link:hover,
#menu-r .dropdown-item:hover,
#menu-r .link:focus,
#menu-r .dropdown-item:focus {
  color: #c0a375;
}
#menu-r .link[aria-expanded="true"],
#menu-r .dropdown-menu {
  background: #000000;
}
#menu-r .nav-dropdown-sm .link:focus,
#menu-r .nav-dropdown-sm .link:hover,
#menu-r .nav-dropdown-sm .dropdown-item:focus,
#menu-r .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-r .navbar,
#menu-r .nav-dropdown-sm,
#menu-r .nav-dropdown-sm .link[aria-expanded="true"],
#menu-r .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-r .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-r .bg-color.transparent.opened .link:hover,
#menu-r .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-r .link[aria-expanded="true"],
#menu-r .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-r .close-icon::before,
#menu-r .close-icon::after {
  background-color: #ffffff;
}
#header1-v .btn {
  font-size: 22px;
}
#content5-1v .mbr-section-title,
#content5-1v p {
  color: #fff;
}
#features4-1x .card-subtitle {
  color: #bcbcbc;
}
#features4-1x .iconbox {
  background-color: #ffffff;
  border-color: #ffffff;
}
#header3-1y .mbr-section-title,
#header3-1y .mbr-section-subtitle {
  text-align: center;
}
#header3-1y H3 {
  color: #fac51c;
}
#menu-20 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-20 .navbar-caption {
  color: #ffffff;
  font-size: 19px;
}
#menu-20 .navbar-toggler {
  color: #ffffff;
}
#menu-20 .link,
#menu-20 .dropdown-item {
  color: #ffffff;
}
#menu-20 .link {
  font-size: 0.85rem;
}
#menu-20 .dropdown-item,
#menu-20 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-20 .link:hover,
#menu-20 .dropdown-item:hover,
#menu-20 .link:focus,
#menu-20 .dropdown-item:focus {
  color: #c0a375;
}
#menu-20 .link[aria-expanded="true"],
#menu-20 .dropdown-menu {
  background: #000000;
}
#menu-20 .nav-dropdown-sm .link:focus,
#menu-20 .nav-dropdown-sm .link:hover,
#menu-20 .nav-dropdown-sm .dropdown-item:focus,
#menu-20 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-20 .navbar,
#menu-20 .nav-dropdown-sm,
#menu-20 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-20 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-20 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-20 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-20 .bg-color.transparent.opened .link:hover,
#menu-20 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-20 .link[aria-expanded="true"],
#menu-20 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-20 .close-icon::before,
#menu-20 .close-icon::after {
  background-color: #ffffff;
}
#header1-22 .btn {
  font-size: 22px;
}
#content5-24 .mbr-section-title,
#content5-24 p {
  color: #fff;
}
#features4-26 .card-subtitle {
  color: #bcbcbc;
}
#features4-26 .iconbox {
  background-color: #ffffff;
  border-color: #ffffff;
}
#header3-27 .mbr-section-title,
#header3-27 .mbr-section-subtitle {
  text-align: center;
}
#header3-27 H3 {
  color: #b8312f;
}
#menu-29 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-29 .navbar-caption {
  color: #ffffff;
  font-size: 19px;
}
#menu-29 .navbar-toggler {
  color: #ffffff;
}
#menu-29 .link,
#menu-29 .dropdown-item {
  color: #ffffff;
}
#menu-29 .link {
  font-size: 0.85rem;
}
#menu-29 .dropdown-item,
#menu-29 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-29 .link:hover,
#menu-29 .dropdown-item:hover,
#menu-29 .link:focus,
#menu-29 .dropdown-item:focus {
  color: #c0a375;
}
#menu-29 .link[aria-expanded="true"],
#menu-29 .dropdown-menu {
  background: #000000;
}
#menu-29 .nav-dropdown-sm .link:focus,
#menu-29 .nav-dropdown-sm .link:hover,
#menu-29 .nav-dropdown-sm .dropdown-item:focus,
#menu-29 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-29 .navbar,
#menu-29 .nav-dropdown-sm,
#menu-29 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-29 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-29 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-29 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-29 .bg-color.transparent.opened .link:hover,
#menu-29 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-29 .link[aria-expanded="true"],
#menu-29 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-29 .close-icon::before,
#menu-29 .close-icon::after {
  background-color: #ffffff;
}
#header1-2b .btn {
  font-size: 22px;
}
#content5-2m .mbr-section-title,
#content5-2m p {
  color: #fff;
}
#features4-2o .card-subtitle {
  color: #bcbcbc;
}
#features4-2o .iconbox {
  background-color: #ffffff;
  border-color: #ffffff;
}
#header3-2p .mbr-section-title,
#header3-2p .mbr-section-subtitle {
  text-align: center;
}
#header3-2p H3 {
  color: #ecdb43;
}
#menu-2r .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2r .navbar-caption {
  color: #ffffff;
  font-size: 19px;
}
#menu-2r .navbar-toggler {
  color: #ffffff;
}
#menu-2r .link,
#menu-2r .dropdown-item {
  color: #ffffff;
}
#menu-2r .link {
  font-size: 0.85rem;
}
#menu-2r .dropdown-item,
#menu-2r .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-2r .link:hover,
#menu-2r .dropdown-item:hover,
#menu-2r .link:focus,
#menu-2r .dropdown-item:focus {
  color: #c0a375;
}
#menu-2r .link[aria-expanded="true"],
#menu-2r .dropdown-menu {
  background: #000000;
}
#menu-2r .nav-dropdown-sm .link:focus,
#menu-2r .nav-dropdown-sm .link:hover,
#menu-2r .nav-dropdown-sm .dropdown-item:focus,
#menu-2r .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-2r .navbar,
#menu-2r .nav-dropdown-sm,
#menu-2r .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2r .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-2r .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2r .bg-color.transparent.opened .link:hover,
#menu-2r .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-2r .link[aria-expanded="true"],
#menu-2r .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-2r .close-icon::before,
#menu-2r .close-icon::after {
  background-color: #ffffff;
}
#header1-2t .btn {
  font-size: 22px;
}
#content5-2v .mbr-section-title,
#content5-2v p {
  color: #fff;
}
#features4-2x .card-subtitle {
  color: #bcbcbc;
}
#features4-2x .iconbox {
  background-color: #ffffff;
  border-color: #ffffff;
}
#header3-2y .mbr-section-title,
#header3-2y .mbr-section-subtitle {
  text-align: center;
}
#header3-2y H3 {
  color: #d45e0c;
}
#menu-30 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-30 .navbar-caption {
  color: #ffffff;
  font-size: 19px;
}
#menu-30 .navbar-toggler {
  color: #ffffff;
}
#menu-30 .link,
#menu-30 .dropdown-item {
  color: #ffffff;
}
#menu-30 .link {
  font-size: 0.85rem;
}
#menu-30 .dropdown-item,
#menu-30 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-30 .link:hover,
#menu-30 .dropdown-item:hover,
#menu-30 .link:focus,
#menu-30 .dropdown-item:focus {
  color: #c0a375;
}
#menu-30 .link[aria-expanded="true"],
#menu-30 .dropdown-menu {
  background: #000000;
}
#menu-30 .nav-dropdown-sm .link:focus,
#menu-30 .nav-dropdown-sm .link:hover,
#menu-30 .nav-dropdown-sm .dropdown-item:focus,
#menu-30 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-30 .navbar,
#menu-30 .nav-dropdown-sm,
#menu-30 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-30 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-30 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-30 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-30 .bg-color.transparent.opened .link:hover,
#menu-30 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-30 .link[aria-expanded="true"],
#menu-30 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-30 .close-icon::before,
#menu-30 .close-icon::after {
  background-color: #ffffff;
}
#header1-32 .btn {
  font-size: 22px;
}
#content5-3u .mbr-section-title,
#content5-3u p {
  color: #fff;
}
#features4-3c .iconbox {
  background-color: #ffffff;
  border-color: #ffffff;
}
#features4-3c .card-subtitle {
  color: #bcbcbc;
}
#features4-3c .iconbox {
  background-color: #ffffff;
  border-color: #ffffff;
  border: none;
  box-shadow: inset 9px 11px 15px 0px rgba(0, 0, 0, 0.55);
  text-shadow: 2px 2px 5px;
}
#features4-3c p {
  color: white;
}
#header3-3d .mbr-section-title,
#header3-3d .mbr-section-subtitle {
  text-align: center;
}
#header3-3d H3 {
  color: #00a8a2;
}
#gallery3-3e img {
  width: 100%;
  height: auto;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
#gallery3-3e .col-sm-3 {
  padding-top: 10px;
  padding-bottom: 10px;
}
#menu-3f .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3f .navbar-caption {
  color: #ffffff;
  font-size: 19px;
}
#menu-3f .navbar-toggler {
  color: #ffffff;
}
#menu-3f .link,
#menu-3f .dropdown-item {
  color: #ffffff;
}
#menu-3f .link {
  font-size: 0.85rem;
}
#menu-3f .dropdown-item,
#menu-3f .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-3f .link:hover,
#menu-3f .dropdown-item:hover,
#menu-3f .link:focus,
#menu-3f .dropdown-item:focus {
  color: #c0a375;
}
#menu-3f .link[aria-expanded="true"],
#menu-3f .dropdown-menu {
  background: #000000;
}
#menu-3f .nav-dropdown-sm .link:focus,
#menu-3f .nav-dropdown-sm .link:hover,
#menu-3f .nav-dropdown-sm .dropdown-item:focus,
#menu-3f .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-3f .navbar,
#menu-3f .nav-dropdown-sm,
#menu-3f .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3f .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-3f .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3f .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3f .bg-color.transparent.opened .link:hover,
#menu-3f .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-3f .link[aria-expanded="true"],
#menu-3f .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-3f .close-icon::before,
#menu-3f .close-icon::after {
  background-color: #ffffff;
}
#header1-3h .btn {
  font-size: 22px;
}
#content5-41 .mbr-section-title,
#content5-41 p {
  color: #fff;
}
#content5-41 .parallax-mirror {
  height: auto !important;
  width: 100% !important;
  padding: 19% 0 0;
}
#content5-41 .parallax-window img {
  width: 100% !important;
  height: 100% !important;
}
#content5-41 .parallax-window {
  min-height: 400px;
  background: transparent;
}
#content5-41 .mbr-section {
  padding: 0;
}
#features4-43 .iconbox {
  background-color: #ffffff;
  border-color: #ffffff;
}
#features4-43 .card-subtitle {
  color: #bcbcbc;
}
#features4-43 .iconbox {
  background-color: #ffffff;
  border-color: #ffffff;
  border: none;
  box-shadow: inset 9px 11px 15px 0px rgba(0, 0, 0, 0.55);
  text-shadow: 2px 2px 5px;
}
#features4-43 p {
  color: white;
}
#header3-44 .mbr-section-title,
#header3-44 .mbr-section-subtitle {
  text-align: center;
}
#header3-44 H3 {
  color: #00a8a2;
}
#gallery3-45 img {
  width: 100%;
  height: auto;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
#gallery3-45 .col-sm-3 {
  padding-top: 10px;
  padding-bottom: 10px;
}
#menu-46 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-46 .navbar-caption {
  color: #ffffff;
  font-size: 19px;
}
#menu-46 .navbar-toggler {
  color: #ffffff;
}
#menu-46 .link,
#menu-46 .dropdown-item {
  color: #ffffff;
}
#menu-46 .link {
  font-size: 0.85rem;
}
#menu-46 .dropdown-item,
#menu-46 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-46 .link:hover,
#menu-46 .dropdown-item:hover,
#menu-46 .link:focus,
#menu-46 .dropdown-item:focus {
  color: #c0a375;
}
#menu-46 .link[aria-expanded="true"],
#menu-46 .dropdown-menu {
  background: #000000;
}
#menu-46 .nav-dropdown-sm .link:focus,
#menu-46 .nav-dropdown-sm .link:hover,
#menu-46 .nav-dropdown-sm .dropdown-item:focus,
#menu-46 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-46 .navbar,
#menu-46 .nav-dropdown-sm,
#menu-46 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-46 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-46 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-46 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-46 .bg-color.transparent.opened .link:hover,
#menu-46 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-46 .link[aria-expanded="true"],
#menu-46 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-46 .close-icon::before,
#menu-46 .close-icon::after {
  background-color: #ffffff;
}
#header1-48 .btn {
  font-size: 22px;
}
